//====================================================================================================

.footer {
    margin: rem(40) rem(0) rem(0) rem(0);
    padding: rem(45) rem(0) ;
    background-color: $bg;

    // .footer__container
    &__container {
        @media (max-width: rem(1087)) // Брекпоинт при разрешении экрана меньше 1087px
        {
        max-width: rem(970); // Максимальная ширина контейнера при разрешении экрана меньше 1087px
        min-height: rem(124); // Минимальная высота контейнера (шапки) при разрешении экрана меньше 1087px
        }
        @media  (max-width: rem(991.98)) // Брекпоинт при разрешении экрана меньше 992px
        {
        max-width: rem(750); // Максимальная ширина контейнера при разрешении экрана меньше 992px
        min-height: rem(114); // Минимальная высота контейнера (шапки) при разрешении экрана меньше 992px
        }
        @media  (max-width: rem(767.98)) // Брекпоинт при разрешении экрана меньше 768px
        {
        max-width: none; // Обнуляет максимальную ширину контейнера при разрешении экрана меньше 768px
        }
    }

    // .footer__item-1
    &__item-1 {
        margin-right: rem(400);
    }

    // .footer__items
    &__items {
        display: flex; //делает эллемент блочным и выстраивает его в строку 
        gap: rem(50); // отступ между строками и столбцами 
        justify-content: center;
        align-items: center;

        @media  (max-width: rem(767.98)) // Брекпоинт при разрешении экрана меньше 768px
        {
            gap: rem(30); // Уменьшение отступа между элементами
        }
        @media  (max-width: rem(567.98)) // Брекпоинт при разрешении экрана меньше 568px
        {
            gap: rem(20); // Уменьшение отступа между элементами
        }
        @media  (max-width: rem(467.98)) // Брекпоинт при разрешении экрана меньше 468px
        {
            gap: rem(10); // Уменьшение отступа между элементами
        }
    }

    // .footer__item
    &__item {

        transform: scale(1); // Изначальный размер
        transition: .2s; // Плавность анимации
        opacity: .7; // Непрозрачность 70%
        img // Обращение к картинкам ссылок
        {
            max-width: 100%; // Максимальная ширина (для адаптива)
        }
        &:hover // Псведо-элемент. Определяет стиль элемента при наведении на него курсора мыши.
        {
            transform: scale(1.1); // Увеличивает элемент при наведении. Не затрагивает остальные элементы
            opacity: 1; // Непрозрачность 100%
        }
    }
}


//====================================================================================================
